<div class="col mb-4">
    <div class="card">
        <div class="row no-gutters">
            <div class="col-md-4">
                <a href="https://www.youtube.com/watch?v=1kvsUbDVSDU"><img src="/static/images/sample_thumbnail.PNG" class="card-img"></a>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">영상 제목</h5>
                    <p class="card-text"><small class="text-muted">
                        # 키워드 # 키워드 # 키워드 # 키워드<br>
                        영상 요약이 문장 형태로 잘 나오게 된다면 이렇게 키워드 밑에다가 적어도 좋을 것 같아요.</small></p>
                    <div class="accordion" id="accordionExample">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <button class="btn btn-link btn-block text-left collapsed" type="button"
                                            data-toggle="collapse"
                                            data-target="#collapseOne" aria-expanded="false"
                                            aria-controls="collapseOne">
                                        이 영상의 댓글 반응이 궁금하다면?
                                    </button>
                                </h2>
                            </div>
                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                 data-parent="#accordionExample">
                                <div class="card-body">
                                    댓글 요약이나 댓글 분석한 내용이 들어가는 자리입니다. 댓글 요약이나 댓글 분석한 내용이 들어가는 자리입니다. 댓글 요약이나 댓글 분석한 내용이 들어가는 자리입니다. 댓글 요약이나 댓글 분석한 내용이 들어가는 자리입니다.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>