<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>YouTube Summary</title>
</head>
<body>
<div class="container">
    {% include 'navbar.html' %}
    <div class="jumbotron">
        <h1 class="display-4">안녕하세요, YouTube Summary 입니다.</h1>
        <p class="lead">타임푸어족인 당신을 위한, YouTube 뉴스 요약 서비스!!!</p>
        <hr class="my-4">
        <p>서비스에 대해 더 알아보고 싶으시다면, 아래 버튼을 클릭해주세요.</p>
        <a class="btn btn-secondary btn-lg" href="/about" role="button">About Us</a>
    </div>
{#    col은 기본적으로 12을 기준으로 해서 4면 4개 하는 것처럼 등분#}
    <div class="row row-cols-1">
        {% include 'card_contents.html' %}
        {% include 'card_contents.html' %}
        {% include 'card_contents.html' %}
        {% include 'card_contents.html' %}
        {% include 'card_contents.html' %}
        {% include 'card_contents.html' %}
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>
</html>