<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>YouTube Summary</title>
</head>
<body>
<div class="container">
    {% include 'navbar3.html' %}
    <div class="jumbotron">
        <h1 class="display-4">YouTube 뉴스 컨텐츠 자동요약 서비스</h1>
        <p class="lead">by. 데이터청년캠퍼스 고려대학교 7조</p>
        <hr class="my-4">
        <p>
            안녕하세요, "YouTube Summary"를 만든 고은경, 권지혜, 배형준입니다.<br>
            본 서비스는 Naver 뉴스(약 10만 건), Daum 뉴스(약 10만 건)의 게시일자, 제목, 기사본문, 요약문을 크롤링 및 학습하여
            YouTube 뉴스 컨텐츠를 자동으로 요약하도록 구현된 서비스입니다.
            저희의 서비스는 YouTube를 통해 뉴스 컨텐츠를 소비하는 사용자가 점점 많아지고 있는 상황에서,
            너무나도 많은 컨텐츠를 바쁜 현대인들이 편향되지 않게 습득하는 것이 매우 어렵다는 문제인식에서 출발했습니다.
            따라서, 저희는 요약된 정보를 제공하여 본 서비스를 이용하시는 분들이 한정된 시간 내에 다양한 컨텐츠를 소비할 수 있는 환경을 제공하고자 합니다.
        </p>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>
</html>