.ipynb_checkpoints/preprocessing-checkpoint.ipynb
crawling/.ipynb_checkpoints/naver_crawling-checkpoint.ipynb
preprocessing/hs_err_pid5756.log
Modeling/.ipynb_checkpoints/seq2seq_attention-checkpoint.ipynb
preprocessing/.ipynb_checkpoints/how_to_use_kobert-checkpoint.ipynb
data/news_raw.db
data/news_normalized.pickle
data/news_cleaned.db
data/ast_literal_eval_body/body_morphs_list_0.pkl
data/ast_literal_eval_body/body_morphs_list_1.pkl
data/ast_literal_eval_body/body_morphs_list_2.pkl
data/ast_literal_eval_body/body_morphs_list_3.pkl
data/news_tokenized.csv
data/news_normalized.csv
data/news_normalized_2.pickle
data/news_stemmed.pickle
data/stemming.pickle
preprocessing/youtube_pipeline/.ipynb_checkpoints/cleaning-checkpoint.ipynb
preprocessing/youtube_pipeline/.ipynb_checkpoints/main_0-checkpoint.ipynb
preprocessing/youtube_pipeline/.ipynb_checkpoints/main_1-checkpoint.ipynb
data/news_normalized_final.pickle
data/news_nouns.pickle
flask/youtube_summary/main.py
flask/youtube_summary/.idea/.gitignore
flask/youtube_summary/.idea/misc.xml
flask/youtube_summary/.idea/modules.xml
flask/youtube_summary/.idea/vcs.xml
flask/youtube_summary/.idea/youtube_summary.iml
flask/youtube_summary/.idea/inspectionProfiles/profiles_settings.xml
2. Preprocessing/08_youtube_pipeline/.ipynb_checkpoints/02_main-checkpoint.ipynb
4. Modeling/.ipynb_checkpoints/03_Modeling_v1.1-checkpoint.ipynb
4. Modeling/.ipynb_checkpoints/03_Modeling_v1.2-checkpoint.ipynb
4. Modeling/.ipynb_checkpoints/04_extractive_summarize-checkpoint.ipynb
5. Flask/youtube_summary/.idea/.gitignore
5. Flask/youtube_summary/.idea/misc.xml
5. Flask/youtube_summary/.idea/modules.xml
5. Flask/youtube_summary/.idea/vcs.xml
5. Flask/youtube_summary/.idea/youtube_summary.iml
5. Flask/youtube_summary/.idea/inspectionProfiles/profiles_settings.xml
