.ipynb_checkpoints/preprocessing-checkpoint.ipynb
crawling/.ipynb_checkpoints/naver_crawling-checkpoint.ipynb
preprocessing/hs_err_pid5756.log
Modeling/.ipynb_checkpoints/seq2seq_attention-checkpoint.ipynb
preprocessing/.ipynb_checkpoints/how_to_use_kobert-checkpoint.ipynb
