<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>YouTube Summary</title>
</head>
<body>
<div class="container">
    {% include 'navbar2.html' %}
    <div class="card-deck">
        <div class="card" style="width: 18rem;">
            <b class="card-header" style="text-align: center">
                Keyword Rank 1 - 5
            </b>

            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    &nbsp;&nbsp;&nbsp;<b>1.</b>&nbsp; 키워드 &nbsp;
                    <span class="badge badge-danger">999</span>
                </li>
                <li class="list-group-item">
                    &nbsp;&nbsp;&nbsp;<b>2.</b>&nbsp; 짧&nbsp;
                    <span class="badge badge-danger">888</span>
                </li>
                <li class="list-group-item">
                    &nbsp;&nbsp;&nbsp;<b>3.</b>&nbsp; 길이가긴 &nbsp;
                    <span class="badge badge-danger">777</span>
                </li>
                <li class="list-group-item">
                    &nbsp;&nbsp;&nbsp;<b>4.</b>&nbsp; 단어 &nbsp;
                    <span class="badge badge-danger">666</span>
                </li>
                <li class="list-group-item">
                    &nbsp;&nbsp;&nbsp;<b>5.</b>&nbsp; 길이가긴단어 &nbsp;
                    <span class="badge badge-danger">555</span>
                </li>
            </ul>
        </div>
        <div class="card" style="width: 18rem;">
            <b class="card-header" style="text-align: center">
                Keyword Rank 6 - 10
            </b>

            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    &nbsp;&nbsp;&nbsp;<b>6.</b>&nbsp; 키워드 &nbsp;
                    <span class="badge badge-danger">444</span>
                </li>
                <li class="list-group-item">
                    &nbsp;&nbsp;&nbsp;<b>7.</b>&nbsp; 짧&nbsp;
                    <span class="badge badge-danger">333</span>
                </li>
                <li class="list-group-item">
                    &nbsp;&nbsp;&nbsp;<b>8.</b>&nbsp; 길이가긴 &nbsp;
                    <span class="badge badge-danger">222</span>
                </li>
                <li class="list-group-item">
                    &nbsp;&nbsp;&nbsp;<b>9.</b>&nbsp; 단어 &nbsp;
                    <span class="badge badge-danger">111</span>
                </li>
                <li class="list-group-item">
                    &nbsp;&nbsp;&nbsp;<b>10.</b>&nbsp; 길이가긴단어 &nbsp;
                    <span class="badge badge-danger">100</span>
                </li>
            </ul>
        </div>
        <div class="card" style="width: 18rem;">
            <b class="card-header" style="text-align: center">
                Keyword Rank 11 - 15
            </b>

            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    &nbsp;&nbsp;&nbsp;<b>11.</b>&nbsp; 키워드 &nbsp;
                    <span class="badge badge-danger">99</span>
                </li>
                <li class="list-group-item">
                    &nbsp;&nbsp;&nbsp;<b>12.</b>&nbsp; 짧&nbsp;
                    <span class="badge badge-danger">88</span>
                </li>
                <li class="list-group-item">
                    &nbsp;&nbsp;&nbsp;<b>13.</b>&nbsp; 길이가긴 &nbsp;
                    <span class="badge badge-danger">77</span>
                </li>
                <li class="list-group-item">
                    &nbsp;&nbsp;&nbsp;<b>14.</b>&nbsp; 단어 &nbsp;
                    <span class="badge badge-danger">66</span>
                </li>
                <li class="list-group-item">
                    &nbsp;&nbsp;&nbsp;<b>15.</b>&nbsp; 길이가긴단어 &nbsp;
                    <span class="badge badge-danger">5</span>
                </li>
            </ul>
        </div>
    </div>
    <p></p>
    <div class="card">
        <b class="card-header" style="text-align: center">
            WordCloud
        </b>
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="5"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="6"></li>
            </ol>
            <div class="carousel-inner" style="padding: 30px;">
                <div class="carousel-item">
                    <img src="/static/images/0816.png" class="d-block w-100" alt="예시 이미지">
{#                    <div class="carousel-caption d-none d-md-block">#}
{#                        <h5>키워드 # 1</h5>#}
{#                        <p>랭킹에 있는 키워드 관련 영상을 여기에다가 넣어보면 어떨까요?</p>#}
{#                    </div>#}
                </div>
                <div class="carousel-item">
                    <img src="/static/images/0817.png" class="d-block w-100" alt="예시 이미지">
                </div>
                <div class="carousel-item">
                    <img src="/static/images/0818.png" class="d-block w-100" alt="예시 이미지">
                </div>
                <div class="carousel-item">
                    <img src="/static/images/0819.png" class="d-block w-100" alt="예시 이미지">
                </div>
                <div class="carousel-item">
                    <img src="/static/images/0820.png" class="d-block w-100" alt="예시 이미지">
                </div>
                <div class="carousel-item">
                    <img src="/static/images/0821.png" class="d-block w-100" alt="예시 이미지">
                </div>
                <div class="carousel-item active">
                    <img src="/static/images/0822.png" class="d-block w-100" alt="예시 이미지">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <p></p>

{#    <div class="progress">#}
{#      <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>#}
{#    </div>#}

</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>
</html>